/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 25, 2022, 4:45:19 AM
    Author     : NUR MOHAMMAD
*/

.custom-bg{
    background: #000051!important;
}
.admin .card{
    border:1px solid black;
}
.admin .card:hover{
    background: #bcbcbc;
    cursor: pointer;
}
.list-group-item.active{
      background: #757de8!important;
      border-color: #757de8!important;
}
.discount-label{
    font-size: 10px!important;
    font-style: italic!important;
  
}
.product-card:hover{
       background:#bcbcbc;
    cursor: pointer;
}
